.dash-class {
    display: block;
    overflow-y: hidden;
    
}
.dash-class .class-title{
    margin-bottom: 35px;
    width: auto;
}

.dash-class .class-title h3 a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    color: #3b4046;
    width: auto;
    padding-left: 13px;
    transition: .3s ease;
    border-left: 3px solid #3b4046;
    cursor: pointer;
}

.dash-class .class-title h3 a:hover{
    border-left: 3px solid #5412a0;
    color: #5412a0;
    padding-left: 12px;
}

.dash-class .div-section{
   display: flex;
   justify-content: space-between;
   column-gap: 100px;
}

.dash-class .section .div-class{
    left: 0;
    background: #f0f0f0;
    cursor: pointer;
    /* background-color: #fafafa; */
    padding: 15px;
    width: 100%;
}

.dash-class .section .class-width {
    width: 70%;
}

.dash-class .section .dash-class .section-title h5 {
    margin: 0;
    color: #3b4046;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 10px;
    padding: 10px 0;
}

.dash-class .section .div-class  .div-input input{
    border: none;
    outline: none;
    border-radius: 5px;
    background: #d8d8d8;
    color: #202026;
    padding: 10px 12px;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}

.dash-class .section .div-class .div-input input::placeholder{
    color: #3b4046;
    padding: 5px;
}
.dash-class .section .div-class .div-input input:hover{
    background: #eef2f3;
    border: 1px solid #bb1b4b;
}
.dash-class .section .div-class .div-input input:focus{
    background: #eef2f3;
    border: 1px solid #5412a0;
}

.dash-class .section .div-class .div-input .input-errorMsg{
    color: #c02554;
    padding: 4px;
    font-size: 11px;
}

.dash-class .section .div-class .div-button{
    margin: .5rem 0 0 0;
}
.dash-class .section .div-class .div-button .add-btn{
    background: #5412a0;
    border: 1px solid #5412a0;
    border-radius: 5px;
    color: #eef2f3;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    outline: none;
    padding: 8px 18px;
    transition: .3s ease; 
    text-transform: uppercase;
}

.dash-class .section .div-class .div-button .add-btn:hover{
    background: #bb1b4b;
    border: 1px solid #bb1b4b;
}

.dash-class .section .div-class .div-button .add-btn:focus{
    background: #bb1b4b;
    border: 1px solid #bb1b4b;
}

.dash-class .section .div-class .class-table table{
    background: #fff ;
    margin: 10px 0;
    width: 100%;
}

.dash-class .section .div-class .class-table table thead{
    
    border-bottom: 1px solid #3b4046;
}
.dash-class .section .div-class .class-table table tbody tr{
    border-bottom: 1px solid #3b4046;
}
.dash-class .section .div-class .class-table table th{
    color: #5412a0;
    
}
.dash-class .section .div-class .class-table table th, td{
    font-size: 12px;
    padding: 10px 10px;
    color: #3b4046;
    text-align: left;
}

/* .dash-class .section .div-class .class-table table td .div-action{
    background: #5412a0;
    padding: 8px;
    margin: auto 25%;
    border-radius: 50%;
    width: auto;
    transition: .3s ease;
}

.dash-class .section .div-class .class-table table td .div-action:hover {
    background: #ee3069;
}

.dash-class .section .div-class .class-table table td .div-action i{
    color: #eef2f3;
    font-size: 11px;
    text-align: center;
    margin: auto;
    display: block;
} */

.dash-class .section .div-class .class-table table .action-btns{
    display: flex;
    
}
.dash-class .section .div-class .class-table table td button{
    border: none;
    outline: none;
    padding: 8px;
   
    background: #fff;
    width: auto;
    transition: .3s ease;
}
.dash-class .section .div-class .class-table table td .div-action-btn i{
    color: #5412a0;
    font-size: 11px;
    text-align: center;
    margin: auto;
    display: block;
    cursor: pointer;
}
.dash-class .section .div-class .class-table table td .div-action-btn i:hover{
    color: #ee3069;
}







/* Message Box */

.dash-class .section .message-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 9px;
}

.dash-class .section .message-box .modal-wrapper{
    background: #eef2f3;
    width: 25%;
    max-width: 500px;
    margin: 10rem auto;
    transition: .3s ease;
    border-radius: 9px;
}

.dash-class .section .message-box .modal-wrapper .display-block{
    display: block;
    transition: all .3s ease;
}

.dash-class .section .message-box .modal-wrapper .display-none{
    display: none;
}

.dash-class .section .message-box .modal-header{
    background: #eef2f3;
    padding: 0rem;
    display: flex;
    border: 0;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.dash-class .section .message-box .modal-header .close-btn {
    font-size: 1.2rem;
    cursor: pointer;
    text-align: right;
    padding-right: 25px;
}

.dash-class .section .message-box .modal-header h4 {
    font-size: 15px;
    font-family: "Lato",
        sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color: #5412a0;
    width: 100%;
}

.dash-class .section .message-box .modal-header .success-icon{
    background: #eef2f3;
    border-radius: 50%;
    display: block;
    width: 10%;
    padding: 12px;
    /* transform: translateY(-20px); */
}

.dash-class .section .message-box .modal-header .success-icon{
    border: 2px solid #5412a0;
}


.dash-class .section .message-box .modal-header i{
    font-size: 1.5rem;
    cursor: pointer;
    margin: auto;
    display: block;
    text-align: center;
}

.dash-class .section .message-box .modal-header i{
    color: #5412a0;
}


.dash-class .section .message-box .modal-content{
    padding: 0rem 1rem 0;
    border: none;
    background: #eef2f3;
    border-radius: 0;

}

.dash-class .section .message-box .modal-body{
    background: #eef2f3;
    display: block;
    text-align: center;
    padding-top: 0;
}

.dash-class .section .message-box .modal-body h3 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Lato",
        sans-serif;
    color: #5412a0;
    padding-top: 15px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.dash-class .section .message-box .modal-body h3 span{
    font-size: 13px;
    font-weight: 400;
    font-family: "Lato",
    sans-serif;
    color: #5412a0;
    margin-top: 10px;
}
.dash-class .section .message-box .modal-body p{
    color: #555;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Poppins',
        sans-serif;
    margin: auto;
    display: block;
    overflow-y: hidden;
    text-align: center;
}

.dash-class .section .message-box .modal-body .m-footer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 25px;
}

.dash-class .section .message-box .modal-body .m-footer .btn-footer {
    font-size: 12px;
    padding: 0.5rem 3rem;
    background: #5412a0;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    width: auto;
    text-align: center;
    color: #eef2f3;
    transition: .3s ease;
}

.dash-class .section .message-box .modal-body .m-footer .btn-footer:hover{
    background: #7a1fdf;
    color: #eef2f3;
}




/* Edit Form */

.dash-class .section .edit-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

}

.dash-class .section .edit-form .modal-wrapper {
    background: #f9fafc;
    width: 80%;
    max-width: 500px;
    margin: 10rem auto;
    transition: .3s ease;
    border-radius: 8px;
}


.dash-class .section .edit-form .modal-wrapper .display-block {
    display: block;
    transition: all .3s ease;
}

.dash-class .section .edit-form .modal-wrapper .display-none {
    display: none;
}

.dash-class .section .edit-form .modal-header {
    background: #5412a0;
    color: #fff;
    padding: 1rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.dash-class .section .edit-form .modal-header i {
    font-size: 1.2rem;
    cursor: pointer;
    text-align: right;
    margin: auto 0;
    display: block;
    padding-right: 25px;
    color: #fff;
}

.dash-class .section .edit-form .modal-header h4 {
    font-size: 15px;
    font-family: "Lato",
        sans-serif;
    padding-top: 15px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 200;
}

.dash-class .section .edit-form .modal-content {
    padding: 1.5rem 1rem 0;
}

/* .section .edit-form .modal-body {
    margin-bottom: 1rem;
} */
.dash-class .section .edit-form .modal-body .grid-4-col {
    padding-left: 0;
    padding-right: 0;
    grid-column-gap: 30px;
    cursor: pointer;
}
.dash-class .section .edit-form .modal-body .grid-1-col {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/* .dash-class .section .edit-form .modal-body .grid-1-col .container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
} */

.dash-class .section .edit-form .modal-body .grid-1-col .div-label,
.dash-class .section .edit-form .modal-body .grid-4-col .div-label{
    padding: 8px 0;
    
}

.dash-class .section .edit-form .modal-body .grid-1-col .div-label label,
.dash-class .section .edit-form .modal-body .grid-4-col .div-label label{
    color: #3b4046;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}

.dash-class .section .edit-form .modal-body .grid-1-col .div-input input,
.dash-class .section .edit-form .modal-body .grid-4-col .div-input input {
    border: none;
    outline: none;
    border-radius: 5px;
    background: #d8d8d8;
    color: #202026;
    padding: 10px 12px;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}

.dash-class .section .edit-form .modal-body .grid-1-col .div-input input::placeholder,
.dash-class .section .edit-form .modal-body .grid-4-col .div-input input::placeholder {
    color: #3b4046;
    padding: 5px;
}

.dash-class .section .edit-form .modal-body .grid-1-col .div-input input:hover,
.dash-class .section .edit-form .modal-body .grid-4-col .div-input input:hover {
    background: #eef2f3;
    border: 1px solid #bb1b4b;
}

.dash-class .section .edit-form .modal-body .grid-1-col .div-input input:focus,
.dash-class .section .edit-form .modal-body .grid-4-col .div-input input:focus {
    background: #eef2f3;
    border: 1px solid #5412a0;
}

.dash-class .section .edit-form .modal-body .grid-1-col .div-input .input-errorMsg,
.dash-class .section .edit-form .modal-body .grid-4-col .div-input .input-errorMsg {
    color: #c02554;
    padding: 4px;
    font-size: 11px;
}
/* .dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-label label {
    color: #5412a0;
    font-weight: 600;
    cursor: pointer;
}

.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input input,
.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input select,
.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input textarea {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #5412a0;
    background: #fff;
    border-radius: 0;
    cursor: pointer;
}

.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input textarea ::placeholder,
.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input input ::placeholder,
.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input input[type='date'],
.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input input[type='file'] {
    color: #444;
}

.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input select,
.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input select option {
    color: #666;
    font-size: 13px;
}

.dash-class .section .edit-form .modal-body .grid-4-col .form-box .div-input select {
    background: url('https://img.icons8.com/material-rounded/24/1687A7/expand-arrow--v1.png');
    background-repeat: no-repeat;
    background-size: 16px 17px;
    background-position: right 5px;
} */

.dash-class .section .edit-form .modal-footer {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dash-class .section .edit-form .modal-footer .btn-footer {
    font-size: 12px;
    padding: 0.5rem 3rem;
    background: #5412a0;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    width: auto;
    text-align: center;
    color: #eef2f3;
    transition: .3s ease;
    text-transform: uppercase;
}
.dash-class .section .edit-form .modal-footer .btn-footer:hover{
    background: #7a1fdf;
    color: #eef2f3;
}

/* Edit Form */



