@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css";

.side-nav{
    margin: 0;
    padding: 0;
    height: 100vh !important;
    overflow-x: hidden;
    overflow-y: scroll;
}
.side-nav header {
    position: fixed;
    background: #202026 !important;
    padding: 8px;
    margin-left: 200px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    width: 100%;
    z-index: 9999;
    transition-property: margin-left;
    transition: 0.5s;
}

.side-nav .left_area,
.side-nav .right_area {
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.side-nav .left_area h3 {
    color: #fff;
    text-align: center;
    width: auto;
    letter-spacing: 2px;
    font-weight: 100;
}

.side-nav .left_area h3 a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Heletica Now Display';
    padding-left: 0;
    margin-left: -15px;
    text-transform: uppercase;
}
.side-nav .left_area h3 a:hover{
    border-right: none;
    color: #7a1fdf;
}

.side-nav .logout_btn {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    background: #7a1fdf;
    text-decoration: none;
    
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
    outline: none;
    border: 4px;
}

.side-nav .logout_btn:hover {
    background: #7a1fdf;
}

.side-nav .sidebar {
    background: #202026;
    position: fixed;
    left: 0;
    width: 200px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.side-nav .sidebar .dashboard-profile{
   display: flex;
   margin-right: 10px;
   margin-left: 10px;
   padding-right: 15px;
   padding-left: 15px;
}

.side-nav .sidebar .profile_image {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.side-nav .sidebar h4 {
    color: #ccc;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
}
.side-nav .sidebar .hr{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #c5c5c5;
}
.side-nav .sidebar a,
.side-nav .sidebar .span {
    color: #fff;
    font-size: 11px;
    font-weight: 100;
    display: block;
    width: 100%;
    letter-spacing: 1px;
    line-height: 10px;
    padding: 12px 0 12px 30px;
    text-decoration: none;
    box-sizing: border-box;
}
.side-nav .sidebar .span{
   font-size: 12px;
   color: #B2B6B9;
   text-transform: uppercase;
}
.side-nav .sidebar a:hover {
    color: #7a1fdf;
    /* transition: 0.5s; */
    border-right: 4px solid #7a1fdf;
}

.side-nav .sidebar i {
    padding-right: 15px;
}

.side-nav label{
    margin-top: auto;
    margin-bottom: auto;
}

.side-nav label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    /* left: 300px; */
    font-size: 14px;
    /* margin-bottom: -20px; */
    margin-top: 10px;
    transition: 0.5s;
    transition-property: color;
}

.side-nav label #sidebar_btn:hover {
    color: #7a1fdf;
}

.side-nav #check:checked~.sidebar {
    left: -140px;
}
.side-nav #check:checked~.sidebar .left_area h3{
    display: none;
    
}
.side-nav #check:checked~.sidebar br{
    content: '';
}
.side-nav #check:checked~.sidebar a span {
    display: none;
}

.side-nav #check:checked~.sidebar a {
    font-size: 13px;
    margin-left: 128px;
}
.side-nav #check:checked~.sidebar a:hover{
    border-right: none;
}

.side-nav #check:checked~.sidebar .sign-out{
    padding: 0 24px;
    margin-top: 15px;
}

.side-nav .content {
    margin-left: 200px;
    background: #fff;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
    padding: 80px 30px 20px 30px;
    overflow-y: scroll;
}

.side-nav #check:checked~.content {
    margin-left: 60px;
}

.side-nav #check:checked~ header {
    margin-left: 60px;
}

.side-nav #check {
    display: none;
}

.side-nav .sidebar .footer {
    bottom: 0;
    position: fixed;
    padding: 20px 0 ;
    margin: 0 auto;
    left: 200px;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 9999;
    background: #f0f0f0;
}
.side-nav .sidebar .sign-out {
    font-size: 17px;
    float: right;
    padding: 0 35px;
    color: #bbbbbb;
}
.side-nav .sidebar .footer p {
    color: #8c8c8c;
    font-size: 10px;
    text-align: center;
    margin: auto auto auto -200px;
    display: block;

}